<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Detail of person:</h1>
<table border="1">
    <thead>
    <tr>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${description}"> Description </td>
    </tr>
    </tbody>
</table>
<br>
<a href="edit?id=10" th:href="@{edit(id=${people.id})}"> edit </a><br>
<a href="delete?id=10" th:href="@{delete(id=${people.id})}"> delete </a><br>
<a href="list"> Show the list </a>
</body>
</html>